.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    

}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #150b3e;
    width: 100%;
    height: 100vh;
    
}

.heading-container {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
}

.para-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #c7d2fe;
    width: 60px;
    height: 60px;
    border-radius: 45px;
    margin-right: 15px;
}

.s {
    color: #7c3aed;
    font-size: large;
    margin-top: 1rem;
}

.name-para {
    color: #c4c4c4;
    font-size: 20px;
}

.money-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -20px;
}

.balance-name {
    color: #585076;
    font-size: 18px;
    align-self: center;
}

.amount-13 {
    color: #c4c4c4;
    font-size: 28px;
}

.kshs {
    color: #585076;
    font-size: 12px;
    align-self: flex-end;
    margin-right: 10px;
}

.deposit {
    color: #c4c4c4;
    font-size: 20px;
}

.choose {
    color: #585076;
    font-size: 12px;
}

.items-holder {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
    margin-top: -5px;

    gap: 30px;


}

.items-holder button {
    width: 18%;
    height: 5vh;

}

.deposit-btn h2 {
    color: #c4c4c4;
    font-size: 1.3rem;
    margin-top: 2.4rem;

}

.deposit-btn li {
    color: #c7d2fe;
    font-size: 1.2rem;
    font-family: 'cursive';
    margin: 1.2rem;
}

.deposit-btn p {
    font-size: small;
    font-style: oblique;
}

.deposit-from {
    padding: 1% 2rem;
    display: flex;
    gap: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  

    
}

.full-depo h2 {
    color: #c4c4c4;
    font-size: 1.3rem;
    margin-top: 1.5rem;
}

.display-text p {
    color: #c7d2fe;
    font-size: 1.2rem;
    font-family: 'cursive';

}